#[submodule "themes/hugo-xterm"]
#	path = themes/hugo-xterm
#	url = https://github.com/manid2/hugo-xterm
[submodule "public"]
	path = public
	url = https://github.com/KindKillerwhale/KindKillerwhale.github.io
	branch = master
